version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    ignore:
      - dependency-name: 'aws-cdk'
      - dependency-name: '@aws-cdk/*'
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
