:root {
  --blue: #2165e5;
  --midnight-blue: #194cac;
  --sand4: #6d6d68;
  --sand3: #908a8a;
  --sand2: #a8a4a3;
  --sand1: #f4f4f2;
  --supersplit: #fd775e;
  --brunch-pink: #fd7a9e;
  --bubblegum: #f9c3c0;

  --base-color: var(--sand4);
  --base-background-color: var(--sand1);

  --link-color: var(--blue);
  --link-color--hover: var(--supersplit);
  
  --heading-color: var(--midnight-blue);
  --heading-h2-color: var(--supersplit);
  --heading-h3-color: var(--brunch-pink);
  --heading-h4-color: var(--bubblegum);

  --sidebar-name-color: var(--heading-color);
  --sidebar-nav-link-color--active: var(--blue);
  --sidebar-nav-link-color--hover: var(--supersplit);
  --sidebar-nav-link-border-color--active: var(--blue);
}

.github-corner svg {
  color: var(--supersplit);
}
