name: Frontend CD to GCP

on:
  push:
    branches:
      - master
    paths:
      - 'packages/titus-frontend/**'
      - '.github/workflows/frontend-cd-gcp.yml'

jobs:
  deploy-titus-frontend:
    name: Build & Deploy titus-frontend
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      DOCKER_REGISTRY_HOST: europe-west1-docker.pkg.dev
      CLOUDRUN_SERVICE_NAME: titus-frontend
      CLOUDRUN_SERVICE_REGION: europe-west1
      CI: true

    steps:
      - name: Checkout project
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@master
        with:
          version: latest
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Configure Docker repository
        run: |
          gcloud components install beta
          gcloud beta auth configure-docker $DOCKER_REGISTRY_HOST

          echo "DOCKER_IMAGE=$DOCKER_REGISTRY_HOST/$PROJECT_ID/titus/frontend:$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build container
        working-directory: ./packages/titus-frontend
        run: |
          cp .env.sample .env
          docker build -t $DOCKER_IMAGE --build-arg REACT_APP_API_PATH=${{ secrets.TITUS_BACKEND_API_URL }} .
      - name: Push container
        working-directory: ./packages/titus-frontend
        run: |
          docker push $DOCKER_IMAGE

      - name: Run service
        uses: google-github-actions/deploy-cloudrun@v0.7.0
        with:
          service: ${{ env.CLOUDRUN_SERVICE_NAME }}
          image: ${{ env.DOCKER_IMAGE }}
          credentials: ${{ secrets.GCP_SA_KEY }}
          region: ${{ env.CLOUDRUN_SERVICE_REGION }}
          project_id: ${{ env.PROJECT_ID }}
